**/__pycache__
.flake8
.git
.gitignore
.github
.lets
.pre-commit-config.yaml
.vimspector.json
.dockerignore
lets.yaml
pyrightconfig.json
celerybeat-schedule
README.md
pytest.ini
tests/
compose.yaml
compose.yml
docker-compose.yaml
docker-compose.yml
*.db
